{
  "root": true,
  "env": {
    "es6": true,
    "node": false
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime"
  ],
  "rules": {
    "object-curly-spacing": ["error", "always"],
    "react/prop-types": ["off"]
  }
}